.horizontal-nav__list {
  display: flex;
  align-items: center;
}

.horizontal-nav__item:not(:last-child) {
  margin-right: 38px;
}

.horizontal-nav__link,
.horizontal-nav__link:visited {
  display: inline-block;
  color: #333333;
  text-decoration: none;
  font-size: 1.24rem;
  position: relative;
}

.horizontal-nav__link::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background-color: #ecbf2e;
  transition: 0.4s;
  position: absolute;
  left: 0;
  bottom: -2px;
}

.horizontal-nav__link:focus::after,
.horizontal-nav__link:hover::after,
.horizontal-nav__link:active::after,
.horizontal-nav__link.current::after {
  width: 100%;
}
