@import "./global";
@import "./links";
@import "./images";
@import "./form-controls";
@import "./tables";
@import "./headers";
@import "./text-color";
@import "./styled-img";

.container {
  max-width: 1400px;
  width: 100%;
  margin: auto;
  padding: 0 15px;
}

.title {
  color: #0c58c9;
  font-weight: 800;
  font-size: 2.3rem;
  margin: 0;
  line-height: 1.1;
  text-transform: uppercase;
}

.clean-list {
  padding: 0;
  list-style: none;
}

.icon-link {
  display: inline-block;
  font-size: 0;
  text-decoration: none;
  vertical-align: top;
  position: relative;
}

.icon-link::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
