.unordered-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.unordered-list li {
  position: relative;
  padding-left: 30px;
}

.unordered-list li:not(:last-child) {
  margin-bottom: 30px;
}

.unordered-list li::before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../assets/check.png);
  flex-shrink: 0;
  margin-right: 5px;
  position: absolute;
  top: 0;
  left: 0;
}
