.section__title {
  position: relative;
}

.section__title::before {
  content: "";
  display: block;
  height: 4px;
  background-color: #f4e8da;
  width: 70%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.section__title--left::before {
  right: 0;
}

.section__title .title {
  background-color: #fff;
  position: relative;
  z-index: 2;
  padding-left: 25px;
  width: 100%;
}

.section__title--left .title {
  max-width: 575px;
  padding-right: 140px;
}

.section__title--right .title {
  max-width: 640px;
  margin-left: auto;
  margin-right: 164px;
}
